body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #494D57;
  color: white;
}

.container {
  max-width: 95%; /* Adjusted for mobile responsiveness */
  margin: 50px auto;
  padding: 20px;
  background-color: #003A37;
  border-radius: 30px; /* Adjusted for mobile responsiveness */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #E7FFCE;
}

h2 {
  color: #DFFF00;
}

/* Footer Styles */
footer {
  background-color: #0BC6AB;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

pre {
  background-color: #45A29E;
  padding: 10px;
  overflow-x: auto;
  border-radius: 6px;
}
code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;

/* Media Query for Mobile */
@media (max-width: 768px) {
  .container {
    padding: 10px; /* Adjusted padding for mobile */
    margin: 20px auto; /* Adjusted margin for mobile */
    border-radius: 0px; /* Adjusted border-radius for mobile */
  }
}
